* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 10rem 0;
}
.btn {
  outline: none;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
}
header {
  .navbar {
    display: flex;
    justify-content: space-between;
  }
}
